services:
  gateway:
    build:
      context: ./services/gateway-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./services/gateway-service/src:/app/src
      - ./services/gateway-service/test:/app/test
    command: pnpm run start:dev
    environment:
      NODE_ENV: development

  email-service:
    build:
      context: ./services/email-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./services/email-service/src:/app/src
    command: pnpm run dev
    environment:
      NODE_ENV: development

  template-service:
    build:
      context: ./services/template-service
      dockerfile: Dockerfile.dev
    volumes:
      - ./services/template-service/src:/app/src
    command: pnpm run dev
    environment:
      NODE_ENV: development

  user-service:
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
    volumes:
      - ./services/user-service:/var/www/html
      - ./services/user-service/storage:/var/www/html/storage
      - ./services/user-service/bootstrap/cache:/var/www/html/bootstrap/cache
